* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}
:after,
:before {
  box-sizing: inherit;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
template {
  display: none;
}
html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: transparent;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}
audio,
iframe,
img,
object,
video {
  max-width: 100%;
}
iframe,
img {
  border: 0;
}
img {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}
b,
strong {
  font-weight: 700;
}
address {
  font-style: normal;
}
svg:not(:root) {
  overflow: hidden;
}
a,
button,
label[for] {
  cursor: pointer;
}

textarea {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
button,
select {
  text-transform: none;
}
nav ol,
nav ul {
  list-style: none outside none;
}
body {
  min-width: 320px;
  background: #fff;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.45;
  color: #1d1c1d;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
  font-weight: 700;
}
@media screen and (max-width: 1023px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.5em;
  }
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}
h1 {
  font-size: 62px;
  line-height: 1;
}
h1.is-lg {
  font-size: 72px;
}
h1.is-xlg {
  font-size: 82px;
}
h2 {
  font-size: 48px;
  line-height: 1.1;
  margin-bottom: 22px;
}
h3 {
  font-size: 42px;
  margin-bottom: 20px;
  line-height: 1.14;
}
h4 {
  font-size: 26px;
  line-height: 1.3;
}
h5.is-lg {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
  margin-bottom: 12px;
}
p {
  margin-bottom: 1.4em;
}
@media screen and (max-width: 1023px) {
  p {
    margin-bottom: 1em;
  }
}
p:last-child {
  margin-bottom: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
strong {
  font-weight: 700;
}
.svg-icon {
  display: inline-block;
  vertical-align: middle;
}
.svg-icon,
.svg-illustration {
  font-size: 0;
  line-height: 0;
}
.illustration-offset-right {
  margin-right: 42px;
}
@media screen and (max-width: 1023px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 62px;
    font-size: 40px;
  }
  h1.is-lg {
    font-size: 72px;
    font-size: 46px;
  }
  h1.is-xlg {
    font-size: 82px;
    font-size: 54px;
  }
  h2 {
    font-size: 48px;
    font-size: 30px;
  }
  h2,
  h3 {
    margin-bottom: 0.5em;
  }
  h3 {
    font-size: 42px;
    font-size: 28px;
  }
  h4 {
    font-size: 26px;
    font-size: 20px;
  }
  h5,
  h5.is-lg {
    font-size: 18px;
  }
  h5,
  h6 {
    font-size: 16px;
  }
  h6 {
    font-size: 15px;
  }
}
@media screen and (max-width: 767px) {
  h1.is-xlg {
    font-size: 48px;
  }
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-Regular.woff2) format("woff2"),
    url(../fonts/Graphik-Regular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-RegularItalic.woff2) format("woff2"),
    url(../fonts/Graphik-RegularItalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-Medium.woff2) format("woff2"),
    url(../fonts/Graphik-Medium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-MediumItalic.woff2) format("woff2"),
    url(../fonts/Graphik-MediumItalic.woff) format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-Semibold.woff2) format("woff2"),
    url(../fonts/Graphik-Semibold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-SemiboldItalic.woff2) format("woff2"),
    url(../fonts/Graphik-SemiboldItalic.woff) format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-Bold.woff2) format("woff2"),
    url(../fonts/Graphik-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-BoldItalic.woff2) format("woff2"),
    url(../fonts/Graphik-BoldItalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-Black.woff2) format("woff2"),
    url(../fonts/Graphik-Black.woff) format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Graphik;
  src: url(../fonts/Graphik-BlackItalic.woff2) format("woff2"),
    url(../fonts/Graphik-BlackItalic.woff) format("woff");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.is-text-right {
  text-align: right;
}
.is-text-left {
  text-align: left;
}
.is-text-centered {
  text-align: center;
}
.is-text-uppercase {
  text-transform: uppercase;
}
.is-checkmark,
p.is-checkmark {
  font-size: 16px;
  font-weight: 400;
  color: #1d1c1d;
}
.is-checkmark:before,
p.is-checkmark:before {
  content: "";
  display: inline-block;
  margin-right: 8px;
  width: 11px;
  height: 11px;
  background-image: url(/images/svg/checkmark-small.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}
.article-single,
.article__title,
.feature-client-area__entry,
.feature-client-area__head,
.feature-hero__item,
.feature-primary.is-alt .feature-primary__head,
.feature-primary__entry,
.feature__entry,
.form__head,
.hero__beforeafter-separator span,
.section-articles__head,
.section__entry,
.u-text-md {
  font-size: 20px;
}
@media screen and (max-width: 1023px) {
  .article-single,
  .article__title,
  .feature-client-area__entry,
  .feature-client-area__head,
  .feature-hero__item,
  .feature-primary.is-alt .feature-primary__head,
  .feature-primary__entry,
  .feature__entry,
  .form__head,
  .hero__beforeafter-separator span,
  .section-articles__head,
  .section__entry,
  .u-text-md {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .article-single,
  .article__title,
  .feature-client-area__entry,
  .feature-client-area__head,
  .feature-hero__item,
  .feature-primary.is-alt .feature-primary__head,
  .feature-primary__entry,
  .feature__entry,
  .form__head,
  .hero__beforeafter-separator span,
  .section-articles__head,
  .section__entry,
  .u-text-md {
    font-size: 16px;
  }
}
.callout,
.feature-hero__head,
.feature-primary__head,
.section-features__head,
.section-listing__head,
.section-preview__head,
.section-pricing__head,
.section-solid__head,
.section-wording,
.section__head,
.u-text-lg {
  font-size: 22px;
}
@media screen and (max-width: 1023px) {
  .callout,
  .feature-hero__head,
  .feature-primary__head,
  .section-features__head,
  .section-listing__head,
  .section-preview__head,
  .section-pricing__head,
  .section-solid__head,
  .section-wording,
  .section__head,
  .u-text-lg {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .callout,
  .feature-hero__head,
  .feature-primary__head,
  .section-features__head,
  .section-listing__head,
  .section-preview__head,
  .section-pricing__head,
  .section-solid__head,
  .section-wording,
  .section__head,
  .u-text-lg {
    font-size: 16px;
  }
}
.articles__title,
.callout__head,
.hero__entry,
.intro__entry,
.testimonial-alt__body,
.u-text-xlg {
  font-size: 24px;
}
@media screen and (max-width: 1023px) {
  .articles__title,
  .callout__head,
  .hero__entry,
  .intro__entry,
  .testimonial-alt__body,
  .u-text-xlg {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .articles__title,
  .callout__head,
  .hero__entry,
  .intro__entry,
  .testimonial-alt__body,
  .u-text-xlg {
    font-size: 16px;
  }
}
@media screen and (max-width: 1023px) {
  .u-hidden-sm {
    display: none;
  }
}
.link {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #ed553b;
}
.link,
.link.is-default {
  text-decoration: underline;
}
.link.is-default {
  font-weight: 400;
  color: inherit;
}
.link.is-default:hover {
  text-decoration: none;
}
.link i {
  margin-left: 11px;
  position: relative;
  left: 0;
  transition: left 0.2s;
}
.link:hover {
  text-decoration: none;
}
.link:hover i {
  left: 4px;
}
@media screen and (max-width: 767px) {
  .link {
    font-size: 15px;
  }
}
.wrapper {
  min-height: 100vh;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 36px 0;
  background: #fff;
  transition: padding 0.3s, height 0.3s;
}
.header__logo {
  position: relative;
  top: 4px;
  align-self: flex-start;
  z-index: 2;
}
.header__logo.is-beta:after {
  content: "beta";
}
.header__logo.is-beta:after,
.header__logo.is-co:after {
  position: absolute;
  top: 0;
  left: 100%;
  padding: 3px 4px;
  border-radius: 5px;
  margin-left: 5px;
  border: 1px solid #cbcbcb;
  font-size: 11px;
  line-height: 1;
  font-weight: 600;
  color: #1d1c1d;
  transform: rotate(-8deg);
}
.header__logo.is-co:after {
  content: ".co";
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 40px;
}
.header__nav {
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.header__actions {
  position: relative;
  z-index: 2;
}
.header__actions .btn + .btn {
  margin-left: 3px;
}
.header.is-transparent {
  background: transparent;
}
.header.is-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 100%;
  left: 0;
  z-index: -1;
  transition: bottom 0.2s, box-shadow 0.2s;
  background: #fff;
}
.header.is-scrolled {
  padding: 15px 0 17px;
  box-shadow: 0 2px 20px -16px rgba(0, 0, 0, 0.5);
}
.header.is-transparent.is-scrolled {
  box-shadow: none;
}
.header.is-transparent.is-scrolled:before {
  bottom: 0;
  box-shadow: 0 2px 20px -16px rgba(0, 0, 0, 0.5);
}
.header__nav-mobile {
  display: none;
  position: absolute;
  top: 4px;
  right: 0;
  font-size: 0;
  width: 34px;
  height: 34px;
}
.header__nav-mobile:after,
.header__nav-mobile:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background: #000;
  transition: transform 0.3s;
  margin-top: -4px;
}
.header__nav-mobile:after {
  margin-top: 4px;
}
@media screen and (max-width: 1280px) {
  .header__content {
    display: flex;
  }
  .header__nav {
    position: relative;
    top: 0;
    margin-right: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .header__inner,
  .header__nav-mobile {
    display: block;
  }
  .header__content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px 50px;
    position: fixed;
    height: calc(100% - 90px);
    top: 90px;
    left: 0;
    right: 0;
    display: none;
  }
  .is-scrolled .header__content {
    height: calc(100% - 70px);
    top: 70px;
  }
  .header__nav {
    position: relative;
    display: block;
    padding-bottom: 25px;
    margin-right: 0;
  }
  .header__actions .btn {
    width: 100%;
    text-align: center;
    display: block;
  }
  .header__actions .btn + .btn {
    margin: 15px 0 0;
  }
}
@media screen and (max-width: 1023px) {
  .has-nav-visible {
    overflow: hidden !important;
    position: relative !important;
  }
  .has-nav-visible .header {
    height: 100vh;
    overflow: hidden;
    background: #fff;
  }
  .has-nav-visible .header__actions,
  .has-nav-visible .header__content,
  .has-nav-visible .header__nav {
    display: block;
  }
  .has-nav-visible .header__nav-mobile:after,
  .has-nav-visible .header__nav-mobile:before {
    margin-top: -1px;
  }
  .has-nav-visible .header__nav-mobile:before {
    transform: rotate(45deg);
  }
  .has-nav-visible .header__nav-mobile:after {
    transform: rotate(-45deg);
  }
}
.footer {
  padding: 100px 0 70px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.footer__inner {
  display: flex;
  margin-bottom: 57px;
  align-items: flex-start;
}
.footer__aside {
  max-width: 285px;
  flex: 0 0 285px;
  margin-right: 55px;
}
.footer__content {
  flex: 1 1 100%;
  padding: 7px 25px 0 58px;
}
.footer__logo {
  margin-bottom: 19px;
}
.footer__cols {
  display: flex;
  justify-content: space-between;
  margin: 0 -20px -40px;
}
.footer__col {
  max-width: 30%;
  padding: 0 20px 40px;
}
.footer__links {
  font-weight: 400;
  color: inherit;
}
.footer__links a {
  position: relative;
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
.footer__links a:hover {
  color: #000;
}
.footer__links a:hover:before {
  width: 100%;
}
.footer__links a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.2s;
}
.footer__links li + li {
  margin-top: 17px;
}
.footer__links.is-horizontal {
  display: flex;
  align-items: center;
}
.footer__links.is-horizontal li {
  position: relative;
}
.footer__links.is-horizontal li + li {
  margin-top: 0;
  margin-left: 7px;
  padding-left: 11px;
}
.footer__links.is-horizontal li + li:before {
  content: "|";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
  color: currentColor;
  opacity: 0.3;
}
.footer__title {
  margin-bottom: 20px;
  color: #000;
}
.footer__outro {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid #f3f1ef;
  font-size: 14px;
}
.footer__copyright {
  margin: 0;
}
@media screen and (max-width: 1024px) {
  .footer__content {
    padding-left: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    padding: 65px 0 45px;
    font-size: 15px;
  }
  .footer__inner {
    display: block;
  }
  .footer__content {
    padding-left: 0;
    padding-right: 0;
  }
  .footer__aside {
    margin-right: 0;
    margin-bottom: 30px;
    max-width: 320px;
  }
  .footer__title {
    margin-bottom: 13px;
  }
  .footer__links li + li {
    margin-top: 13px;
  }
  .footer__inner {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    padding: 45px 0;
    font-size: 14px;
    text-align: center;
  }
  .footer__aside,
  .footer__logo {
    margin-left: auto;
    margin-right: auto;
  }
  .footer__outro {
    display: block;
    font-size: 13px;
  }
  .footer__links.is-horizontal {
    display: inline-flex;
  }
  .footer__links.is-horizontal:first-child {
    display: block;
    margin-bottom: 10px;
  }
  .footer__links.is-horizontal:first-child li {
    margin-left: 0;
    padding-left: 0;
  }
  .footer__links.is-horizontal:first-child li:before {
    display: none;
  }
  .footer__links.is-horizontal:first-child li + li {
    margin-top: 4px;
  }
  .footer__cols {
    display: block;
    margin: 0;
  }
  .footer__col {
    max-width: 100%;
    padding: 0;
  }
  .footer__col + .footer__col {
    margin-top: 30px;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__links li + li {
    margin-top: 10px;
  }
}
.shell {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}
.shell.is-sm {
  max-width: 1180px;
}
.shell.is-xs {
  max-width: 900px;
}
@media screen and (max-width: 767px) {
  .shell {
    padding: 0 20px;
  }
}
.logo {
  display: block;
  width: 113px;
}
.nav > ul {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: #1d1c1d;
}
.nav > ul > li > a:hover:before {
  width: 100%;
}
@media (min-width: 1024px) {
  .nav > ul > li:hover > a:after {
    transform: translateY(-50%) rotate(180deg);
  }
}
.nav > ul > li + li {
  margin-left: 34px;
}
@media screen and (max-width: 1280px) {
  .nav > ul > li + li {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1023px) {
  .nav > ul {
    display: block;
    font-size: 24px;
  }
  .nav > ul > li {
    padding: 20px 0;
  }
  .nav > ul > li + li {
    margin-left: 0;
    border-top: 1px solid #ddd;
  }
  .nav > ul > li > a {
    display: block;
  }
  .nav > ul > li > a:before {
    display: none;
  }
  .nav > ul > li > a:after {
    width: 16px;
    height: 8px;
  }
  .nav > ul > li > a.is-open:after {
    transform: translateY(-50%) rotate(180deg);
  }
}
.btn {
  display: inline-block;
  padding: 15px 22px;
  background: #5300EF;
  border: 2px solid transparent;
  outline: 0;
  border-radius: 5px;
  font-family: Graphik, sans-serif;
  font-size: 18px;
  line-height: 19px;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: background 0.2s, border-color 0.2s, color 0.2s;
}
.btn:hover {
  background: transparent;
  border-color: #5300EF;
  color: #5300EF;
}
.btn small {
  display: block;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  padding-top: 2px;
}
@media screen and (max-width: 1023px) {
  .btn {
    font-size: 16px;
    padding: 13px 18px;
  }
}
.btn.is-outline {
  background: transparent;
  border-color: #5300EF;
  color: #5300EF;
}
.btn.is-outline:hover {
  background: #5300EF;
  color: #fff;
}
.btn--block {
  display: block;
  width: 100%;
}
.btn--block.has-progress {
  display: flex;
}
.btn--dark {
  background: #002EC1;
}
.btn--dark.is-outline,
.btn--dark:hover {
  border-color: #002EC1;
  color: #002EC1;
}
.btn--dark.is-outline {
  background: transparent;
}
.btn--dark.is-outline:hover {
  background: #002EC1;
  color: #fff;
}
.btn--white {
  background: #fff;
  color: #002EC1;
}
.btn--white:hover {
  border-color: #fff;
  color: #fff;
}
.btn--medium {
  padding: 14px 21px;
}
.btn--small {
  padding: 10px 15px;
  font-size: 16px;
}
@media screen and (max-width: 1023px) {
  .btn--small {
    font-size: 15px;
  }
}
.btn--xsmall {
  padding: 4px 8px;
  font-size: 13px;
  font-weight: 500;
}
.hero {
  padding: 164px 0 0;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .hero {
    padding-top: 120px;
  }
}
.hero__title {
  margin-bottom: 24px;
}
.hero__title:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
  .hero__title br {
    display: none;
  }
}
.hero__subtitle {
  margin-bottom: 18px;
}
.hero__entry {
  max-width: 700px;
  margin: 0 auto 38px;
}
.hero__actions {
  margin-bottom: 60px;
}
.hero__actions .btn + .btn {
  margin-left: 5px;
}
@media screen and (max-width: 1023px) {
  .hero__actions {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .hero__actions .btn.is-demo {
    display: block;
    padding: 0;
    border-radius: 0;
    background: transparent !important;
    text-decoration: underline;
    color: #1d1c1d;
    margin: 15px auto 0;
    border: 0;
    text-transform: lowercase;
    max-width: 220px;
  }
  .hero__actions .btn.is-demo:before {
    content: "or, ";
    text-transform: capitalize;
  }
  .hero__actions .btn.is-demo:after {
    content: "";
    display: inline-block;
    width: 19px;
    height: 14px;
    background: url(../images/icons/icon-arrow-right-dark.svg);
    margin-left: 3px;
  }
}
.hero__inner {
  max-width: 680px;
  margin: 0 auto 12px;
}
.hero__preview {
  position: relative;
}
.hero__preview-illustration {
  position: absolute;
  bottom: 150px;
}
.hero__preview-illustration.is-left {
  left: -100px;
}
.hero__preview-illustration.is-right {
  right: -100px;
}
@media screen and (max-width: 1280px) {
  .hero__preview-illustration {
    display: none;
  }
}
.hero__preview-media img {
  border-radius: 5px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.05);
}
.hero__preview-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  line-height: 1.2;
}
.hero__preview-nav ul {
  list-style-type: none;
}
.hero__preview-nav li {
  display: inline;
}
.hero__preview-nav li + li:before {
  content: "/";
  margin-left: 7px;
  margin-right: 5px;
  opacity: 0.7;
}
.hero__preview-nav a {
  display: inline-block;
  padding: 9px 0 8px;
  color: #fff;
  text-decoration: none;
}
.hero__preview-nav a.is-active {
  font-weight: 700;
}
@media screen and (max-width: 1023px) {
  .hero__preview-nav a {
    padding: 6px 0 3px;
  }
}
@media screen and (max-width: 767px) {
  .hero__preview-nav {
    display: none;
  }
}
.hero .hero__preview-media-tab {
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hero .hero__preview-media-tab img {
  pointer-events: none;
}
.hero .hero__preview-media-tab.is-active {
  display: inline-block;
}
@media screen and (max-width: 1023px) {
  .hero__entry {
    margin-bottom: 28px;
  }
}
.hero__beforeafter {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 120px;
  position: relative;
}
@media screen and (max-width: 1280px) {
  .hero__beforeafter {
    padding: 0;
  }
}
@media screen and (max-width: 1023px) {
  .hero__beforeafter {
    margin-top: 70px;
  }
}
@media screen and (max-width: 767px) {
  .hero__beforeafter {
    display: block;
  }
}
.hero__beforeafter-item {
  flex: 1;
  max-width: 520px;
}
@media screen and (max-width: 767px) {
  .hero__beforeafter-item {
    margin: auto;
  }
}
.hero__beforeafter-item h5 {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .hero__beforeafter-item h5 {
    margin-bottom: 25px;
  }
}
.hero__beforeafter-separator {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80px;
  flex: 0 0 80px;
  align-items: center;
}
.hero__beforeafter-separator span {
  color: #707070;
  padding: 5px 0;
}
.hero__beforeafter-separator:after,
.hero__beforeafter-separator:before {
  content: "";
  width: 1px;
  background: #e8e8e8;
  flex: 1;
}
@media screen and (max-width: 767px) {
  .hero__beforeafter-separator {
    width: 100%;
    flex-direction: row;
    margin: 30px 0;
  }
  .hero__beforeafter-separator span {
    padding: 0 15px;
  }
  .hero__beforeafter-separator:after,
  .hero__beforeafter-separator:before {
    width: auto;
    height: 1px;
  }
}
.hero.is-primary {
  position: relative;
  margin-bottom: -180px;
  z-index: 3;
}
.hero.is-primary + .section-wording {
  padding-top: 250px;
}
@media screen and (max-width: 1023px) {
  .hero.is-primary + .section-wording {
    padding-top: 230px;
  }
}
.hero.is-secondary {
  padding-bottom: 150px;
}
@media screen and (max-width: 1023px) {
  .hero.is-secondary {
    padding-bottom: 90px;
  }
}
.hero.is-alt {
  padding: 151px 0;
}
.hero.is-alt .hero__title {
  margin-bottom: 45px;
}
.hero.is-alt .hero__actions {
  margin-bottom: 27px;
}
.hero.is-alt .hero__media:after {
  display: none;
}
.preview img {
  border-radius: 5px;
}
[class^="list-"] {
  margin-bottom: 50px;
}
@media screen and (max-width: 1023px) {
  [class^="list-"] {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  [class^="list-"] {
    margin-bottom: 30px;
  }
}
[class^="list-"]:last-child {
  margin-bottom: 0;
}
.list-checkmarks li {
  position: relative;
  padding-left: 39px;
}
.list-checkmarks li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 15px;
  height: 14px;
  background-image: url(../images/icons/icon-check.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}
.list-checkmarks li + li {
  margin-top: 15px;
}
@media screen and (max-width: 1024px) {
  .list-checkmarks li {
    padding-left: 0;
  }
  .list-checkmarks li:before {
    position: static;
    display: inline-block;
    margin-right: 5px;
  }
}
@media screen and (max-width: 767px) {
  .list-checkmarks li + li {
    margin-top: 15px;
  }
}
.list-logos {
  padding-left: 37px;
}
.list-logos__title {
  margin-bottom: 12px;
  font-family: Graphik, sans-serif;
  font-size: 16px;
}
.list-logos ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.list-logos li + li {
  margin-left: 40px;
}
.list-logos i {
  filter: grayscale(1);
  display: block;
}
@media screen and (max-width: 1024px) {
  .list-logos {
    padding: 0;
  }
  .list-logos ul {
    justify-content: center;
  }
}
.list-logos.is-inline {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.list-logos.is-inline .list-logos__title {
  margin-bottom: 0;
  margin-right: 40px;
}
@media screen and (max-width: 1024px) {
  .list-logos.is-inline .list-logos__title {
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 767px) {
  .list-logos.is-inline {
    display: block;
    text-align: center;
  }
  .list-logos.is-inline .list-logos__title {
    margin-right: 0;
    margin-bottom: 12px;
  }
}
.cols {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -30px -60px;
}
.cols .col {
  padding: 0 30px 60px;
}
.cols.is-justify-space-between {
  justify-content: space-between;
}
.cols.is-justify-center {
  justify-content: center;
}
.cols.is-spacing-sm {
  margin: 0 -20px -60px;
}
.cols.is-spacing-sm .col {
  padding: 0 20px 60px;
}
.cols.is-spacing-lg {
  margin: 0 -45px -60px;
}
.cols.is-spacing-lg .col {
  padding: 0 45px 60px;
}
@media screen and (max-width: 1024px) {
  .cols.is-spacing-lg {
    margin: 0 -20px -60px;
  }
  .cols.is-spacing-lg .col {
    padding: 0 20px 60px;
  }
}
.cols.is-spacing-xl {
  margin: 0 -50px -85px;
}
.cols.is-spacing-xl .col {
  padding: 0 50px 85px;
}
@media screen and (max-width: 1024px) {
  .cols.is-spacing-xl {
    margin: 0 -20px -60px;
  }
  .cols.is-spacing-xl .col {
    padding: 0 20px 60px;
  }
}
@media screen and (max-width: 1024px) {
  .cols,
  .cols.is-spacing-sm {
    margin: 0 -20px -40px;
  }
  .cols .col,
  .cols.is-spacing-sm .col {
    padding: 0 20px 40px;
  }
}
@media screen and (max-width: 1023px) {
  .cols.is-sm-spacing-sm {
    margin: 0 -20px -40px;
  }
  .cols.is-sm-spacing-sm .col {
    padding: 0 20px 40px;
  }
}
@media screen and (max-width: 767px) {
  .cols,
  .cols.is-spacing-lg,
  .cols.is-spacing-sm,
  .cols.is-spacing-xl {
    margin: 0;
    display: block;
  }
  .cols .col,
  .cols.is-spacing-lg .col,
  .cols.is-spacing-sm .col,
  .cols.is-spacing-xl .col {
    padding: 0;
    max-width: 100%;
  }
  .cols .col + .col,
  .cols.is-spacing-lg .col + .col,
  .cols.is-spacing-sm .col + .col,
  .cols.is-spacing-xl .col + .col {
    margin-top: 30px;
  }
}
.col {
  max-width: 100%;
  flex: 1 1 100%;
}
.col--auto {
  max-width: none;
  flex: 0 0 auto;
}
.col--flex {
  display: flex;
}
.col--flex > div {
  width: 100%;
}
.col--1of2 {
  max-width: 50%;
  flex: 0 0 50%;
}
.col--1of3 {
  max-width: 33.33%;
  flex: 0 0 33.33%;
}
.col--1of4 {
  max-width: 25%;
  flex: 0 0 25%;
}
.col--1of5 {
  max-width: 20%;
  flex: 0 0 20%;
}
.col--2of7 {
  max-width: 30%;
  flex: 0 0 30%;
}
@media screen and (max-width: 1023px) {
  .col--sm-1of2 {
    max-width: 50%;
    flex: 0 0 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
.section {
  padding: 150px 0;
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .section {
    padding: 90px 0;
  }
}
.section__head {
  margin-bottom: 65px;
}
@media screen and (max-width: 1023px) {
  .section__head {
    margin-bottom: 42px;
  }
}
.section__head:last-child {
  margin-bottom: 0;
}
.section__head.is-margin-sm {
  margin-bottom: 40px;
}
@media screen and (max-width: 1023px) {
  .section__head.is-margin-sm {
    margin-bottom: 35px;
  }
}
.section__head.is-margin-lg {
  margin-bottom: 80px;
}
@media screen and (max-width: 1023px) {
  .section__head.is-margin-lg {
    margin-bottom: 50px;
  }
}
.section__title {
  margin-bottom: 32px;
}
@media screen and (max-width: 1023px) {
  .section__title {
    margin-bottom: 0.5em;
  }
}
.section__inner {
  display: flex;
  align-items: center;
  margin: 0 -70px;
}
@media screen and (max-width: 1024px) {
  .section__inner {
    margin: 0 -40px;
  }
}
@media screen and (max-width: 767px) {
  .section__inner {
    display: block;
  }
}
.section__body,
.section__content {
  padding: 0 70px;
}
@media screen and (max-width: 1024px) {
  .section__body,
  .section__content {
    padding: 0 40px;
  }
}
@media screen and (max-width: 767px) {
  .section__body,
  .section__content {
    max-width: 100%;
  }
}
.section__body {
  max-width: 780px;
}
@media screen and (max-width: 1024px) {
  .section__body {
    max-width: 55%;
  }
}
@media screen and (max-width: 767px) {
  .section__body {
    text-align: center;
    margin-bottom: 40px;
  }
  .section__body:last-child {
    margin-bottom: 0;
  }
}
.section__body.is-sm {
  max-width: 700px;
}
@media screen and (max-width: 1024px) {
  .section__body.is-sm {
    max-width: 600px;
  }
}
@media screen and (max-width: 1023px) {
  .section__body.is-sm {
    max-width: 53%;
  }
}
@media screen and (max-width: 767px) {
  .section__body.is-sm {
    max-width: 100%;
  }
}
.section__content.is-lg {
  padding-left: 0;
}
.section__content {
  flex: 1;
}
.section__holder {
  margin-bottom: 45px;
}
.section__holder:last-child {
  margin-bottom: 0;
}
.section__foot {
  padding-top: 95px;
}
@media screen and (max-width: 1023px) {
  .section__foot {
    margin-bottom: 60px;
  }
  .section__foot:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 1023px) {
  .section__foot {
    padding-top: 60px;
  }
}
@media screen and (max-width: 767px) {
  .section__foot {
    padding-top: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .section:not(.is-media-unaffected) {
    text-align: center;
  }
  .section:not(.is-media-unaffected) .section__inner {
    display: block;
  }
  .section:not(.is-media-unaffected) .section__body {
    max-width: 100%;
  }
  .section:not(.is-media-unaffected) .section__content {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 767px) {
  .section:not(.is-media-unaffected) .section__body {
    margin-bottom: 0;
  }
  .section:not(.is-media-unaffected) .section__content {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 1023px) {
  .section.is-media-unaffected .section__media {
    text-align: center;
  }
}
.section-solid {
  padding: 150px 0;
  background: #f8f6f4;
  text-align: center;
}
.section-solid__body {
  overflow: hidden;
}
@media screen and (max-width: 1023px) {
  .section-solid {
    padding: 90px 0;
  }
}
.section-wording {
  padding: 80px 0 70px;
  line-height: 1.45;
  text-align: center;
}
.section-wording h3 {
  font-size: 38px;
}
.section-wording h4 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
}
.section-wording .is-underline {
  border-bottom: 4px solid #ffdc4d;
}
@media screen and (max-width: 1023px) {
  .section-wording {
    padding: 55px 0 40px;
  }
  .section-wording h3 {
    font-size: 26px;
  }
  .section-wording h4 {
    font-size: 22px;
  }
}
.section-preview {
  padding: 150px 0;
}
.section-preview + .section-preview {
  padding-top: 50px;
}
.section-preview__head {
  max-width: 900px;
  margin: 0 auto 65px;
  text-align: center;
}
.section-preview__body {
  max-width: 990px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .section-preview {
    padding: 90px 0;
  }
  .section-preview__head {
    margin-bottom: 65px;
  }
}
@media screen and (max-width: 767px) {
  .section-preview__head {
    margin-bottom: 50px;
  }
  .section-preview__head img {
    max-width: 250px;
  }
  .section-preview__head p br {
    display: none;
  }
}
.feature {
  display: flex;
  align-items: center;
  margin: 0 auto 150px;
  max-width: 1120px;
}
.feature:last-child {
  margin-bottom: 0;
}
.feature__media {
  max-width: 540px;
  flex: 1 1 540px;
  min-height: 540px;
}
.feature__content {
  max-width: 460px;
  flex: 1 1 460px;
  margin-right: 120px;
}
.feature__title {
  margin-bottom: 35px;
}
.feature__num {
  content: counter(feature-counter);
  margin-bottom: 25px;
  background-image: url(../images/counter-bg2.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 50%;
  font-size: 50px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  width: 75px;
}
.feature.is-reversed {
  flex-direction: row-reverse;
}
.feature.is-reversed .feature__content {
  margin-right: 0;
  margin-left: 120px;
}
.feature .is-hidden-desktop {
  display: none;
}
@media screen and (max-width: 1023px) {
  .feature .is-hidden-desktop {
    display: block;
  }
}
@media screen and (max-width: 1023px) {
  .feature .is-hidden-mobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .feature__media {
    min-height: 0;
  }
  .feature__content {
    margin-right: 80px;
  }
  .feature.is-reversed .feature__content {
    margin-left: 80px;
  }
}
@media screen and (max-width: 1023px) {
  .feature {
    display: block;
    text-align: center;
  }
  .feature:not(:last-child) {
    margin-bottom: 90px;
  }
  .feature__num {
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
  }
  .feature__content {
    margin: 0 auto !important;
    max-width: 540px;
  }
  .feature__media {
    margin: 0 0 30px;
    min-height: auto;
  }
  .feature__title {
    margin-bottom: 40px;
  }
  .feature__title br {
    display: none;
  }
  .feature.is-reversed .feature__content {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .feature__title {
    margin-bottom: 30px;
  }
  .feature__media {
    margin-bottom: 25px;
  }
}
.feature-hero {
  margin-bottom: 200px;
  text-align: center;
}
.feature-hero:last-child {
  margin-bottom: 0;
}
.feature-hero__head {
  max-width: 940px;
}
.feature-hero__head,
.feature-hero__media {
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
}
.feature-hero__media {
  max-width: 1092px;
}
.feature-hero__cols {
  display: flex;
  margin: 0 -45px;
}
.feature-hero__col {
  padding: 0 45px;
  max-width: 33%;
  flex: 0 0 33.33%;
}
.feature-hero__items {
  display: flex;
  max-width: 1000px;
  margin: auto;
}
.feature-hero__item {
  max-width: 33.33%;
  flex: 0 0 33.33%;
  padding: 0 40px;
}
.feature-hero__actions {
  margin-top: 50px;
}
@media screen and (max-width: 1023px) {
  .feature-hero {
    margin-bottom: 130px;
  }
  .feature-hero__items {
    margin: 0 -20px;
  }
  .feature-hero__item {
    padding: 0 20px;
  }
  .feature-hero__actions {
    margin-top: 40px;
  }
  .feature-hero__head,
  .feature-hero__media {
    margin-bottom: 40px;
  }
  .feature-hero .cols {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .feature-hero {
    margin-bottom: 80px;
  }
  .feature-hero__head,
  .feature-hero__media {
    margin-bottom: 30px;
  }
  .feature-hero__actions {
    margin-top: 35px;
  }
  .feature-hero__items {
    flex-wrap: wrap;
    margin: 0;
  }
  .feature-hero__item {
    max-width: 100%;
    flex: 1 1 100%;
    padding: 0;
  }
  .feature-hero__item + .feature-hero__item {
    margin-top: 15px;
  }
}
.feature-primary {
  display: flex;
  align-items: center;
  margin-bottom: 200px;
  justify-content: space-between;
}
.feature-primary:last-child {
  margin-bottom: 0;
}
.feature-primary__head {
  margin-bottom: 45px;
}
.feature-primary__actions {
  margin-top: 50px;
}
.feature-primary__media {
  max-width: 640px;
  flex: 1 1 640px;
}
.feature-primary__user-image {
  padding-top: 40px;
}
.feature-primary__content {
  max-width: 520px;
  flex: 1 1 520px;
  margin-right: 80px;
}
.feature-primary__content.is-lg {
  max-width: 560px;
  flex: 1 1 560px;
}
.feature-primary.is-alt h2 {
  margin-bottom: 25px;
}
.feature-primary.is-alt h5 {
  font-size: 20px;
}
.feature-primary.is-alt .feature-primary__head {
  margin-bottom: 35px;
}
.feature-primary.is-alt .feature-primary__actions {
  margin-top: 35px;
}
.feature-primary.is-alt .list-checkmarks {
  margin-bottom: 35px;
}
@media screen and (max-width: 1023px) {
  .feature-primary.is-alt h2 {
    margin-bottom: 0.5em;
  }
  .feature-primary.is-alt h5 {
    font-size: 18px;
  }
  .feature-primary.is-alt .feature-primary__actions {
    margin-top: 30px;
  }
  .feature-primary.is-alt .feature-primary__head,
  .feature-primary.is-alt .list-checkmarks {
    margin-bottom: 30px;
  }
  .feature-primary.is-alt h2 br {
    display: none;
  }
}
.feature-primary.is-align-top {
  align-items: flex-start;
}
.feature-primary.is-reversed {
  flex-direction: row-reverse;
}
.feature-primary.is-reversed .feature-primary__content {
  margin-right: 0;
  margin-left: 80px;
}
.feature-primary.is-client-area {
  align-items: flex-start;
}
.feature-primary.is-client-area .feature-primary__content {
  margin-left: 0;
  margin-right: 80px;
}
.feature-primary.is-client-area .feature-primary__media {
  padding-top: 45px;
}
.feature-primary .is-hidden-desktop {
  display: none;
}
@media screen and (max-width: 1024px) {
  .feature-primary .is-hidden-desktop {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  .feature-primary .is-hidden-mobile {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .feature-primary {
    display: block;
    text-align: center;
  }
  .feature-primary__content {
    max-width: 100%;
    margin: 0;
  }
  .feature-primary__content.is-lg {
    max-width: 100%;
    flex: 1 1 100%;
  }
  .feature-primary__media {
    max-width: 100%;
    margin-bottom: 50px;
  }
  .feature-primary__media:last-child {
    margin-bottom: 0;
  }
  .feature-primary__head {
    margin-bottom: 65px;
  }
  .feature-primary__user-image .user {
    margin-left: auto;
    margin-right: auto;
  }
  .feature-primary.is-client-area .feature-primary__content,
  .feature-primary.is-reversed .feature-primary__content {
    margin: 0;
  }
  .feature-primary.is-client-area .feature-primary__media {
    padding-top: 65px;
  }
  .feature-primary .cols {
    justify-content: center;
  }
}
@media screen and (max-width: 1023px) {
  .feature-primary {
    margin-bottom: 130px;
  }
  .feature-primary__actions {
    margin-top: 40px;
  }
  .feature-primary__head,
  .feature-primary__media {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .feature-primary {
    margin-bottom: 80px;
  }
  .feature-primary__actions {
    margin-top: 35px;
  }
  .feature-primary__head,
  .feature-primary__media {
    margin-bottom: 30px;
  }
  .feature-primary .col {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .feature-primary.is-client-area .feature-primary__media {
    padding-top: 45px;
  }
}
.feature-client-area {
  display: flex;
  align-items: flex-start;
  margin-bottom: 200px;
}
.feature-client-area:last-child {
  margin-bottom: 0;
}
.feature-client-area__head {
  margin-bottom: 65px;
}
.feature-client-area__title {
  margin-bottom: 35px;
}
.feature-client-area__actions {
  margin-top: 50px;
}
.feature-client-area__aside {
  max-width: 640px;
  flex: 1 1 640px;
  padding-top: 50px;
  padding-left: 60px;
}
.feature-client-area__content {
  max-width: 560px;
  flex: 1 1 560px;
  margin-right: 80px;
}
.callout {
  padding: 100px 0;
  background: #ffdc4d;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .callout {
    padding: 65px 0;
  }
}
.callout p {
  margin-bottom: 34px;
}
@media screen and (max-width: 1023px) {
  .callout p {
    margin-bottom: 22px;
  }
}
.callout p:last-child {
  margin-bottom: 0;
}
.callout__content {
  margin: 0 auto;
}
.callout__head {
  margin-bottom: 42px;
}
@media screen and (max-width: 1023px) {
  .callout__head {
    margin-bottom: 28px;
  }
}
.callout__title {
  font-size: 52px;
  margin-bottom: 21px;
}
.callout__title:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 1023px) {
  .callout__title {
    font-size: 34px;
    margin-bottom: 0.5em;
  }
}
.callout__actions {
  margin-bottom: 10px;
}
.callout__actions:last-child {
  margin-bottom: 0;
}
.callout__hint {
  font-size: 14px;
  font-weight: 400;
}
@media screen and (max-width: 1024px) {
  .callout:not(.is-transparent) .callout__head br {
    display: none;
  }
}
.callout.is-transparent {
  padding-bottom: 50px;
  background: transparent;
}
.callout.is-with-illustration-top {
  padding: 151px 0 149px;
}
@media screen and (max-width: 1023px) {
  .callout.is-with-illustration-top {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}
.callout.is-card {
  padding: 85px 0 75px;
  border-radius: 10px;
}
.callout.is-card .callout__content {
  max-width: 100%;
}
.callout.is-card .callout__title {
  margin-bottom: 26px;
}
@media screen and (max-width: 1023px) {
  .callout.is-card {
    padding: 65px 0;
  }
  .callout.is-card .callout__title {
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 767px) {
  .callout__title br {
    display: none;
  }
}
.info-item__image {
  display: flex;
  min-height: 71px;
  margin-bottom: 25px;
}
.info-item__image img {
  margin: auto auto 0;
}
.info-item__image i {
  display: block;
  margin: auto auto 0;
}
.info-item__image.is-lg {
  min-height: 120px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1024px) {
  .info-item__image.is-lg {
    margin-bottom: 30px;
  }
}
.info-item__image.is-xmlg {
  min-height: 140px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1024px) {
  .info-item__image.is-xmlg {
    margin-bottom: 30px;
  }
}
.info-item__image.is-xlg {
  min-height: 175px;
  margin-bottom: 45px;
}
@media screen and (max-width: 1024px) {
  .info-item__image.is-xlg {
    margin-bottom: 30px;
  }
}
.info-item__subtitle {
  font-size: 14px;
}
.info-item__title.is-size-sm {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.info-item h4 {
  position: relative;
}
.info-item h4 .badge {
  position: absolute;
  top: 0;
  right: -15px;
  max-width: 65px;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 1023px) {
  .info-item h4 .badge {
    max-width: 85px;
  }
}
@media screen and (max-width: 767px) {
  .info-item h4 .badge {
    display: block;
    position: static;
    margin: 0 auto 10px;
  }
}
.info-item.is-lg .info-item__title {
  font-size: 38px;
  line-height: 1.3;
}
@media screen and (max-width: 1023px) {
  .info-item h4 br {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .info-item {
    text-align: center;
  }
  .info-item__image {
    min-height: 0 !important;
    margin-bottom: 25px !important;
  }
}
.link-item__image {
  display: flex;
  min-height: 71px;
  margin-bottom: 24px;
  position: relative;
  top: 0;
  transition: top 0.2s;
}
.link-item__image i {
  display: block;
  margin: auto auto 0;
}
.link-item__title {
  margin-bottom: 12px;
  position: relative;
}
.link-item__title span {
  position: relative;
}
.link-item__title span:after {
  content: "";
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background: currentColor;
  position: absolute;
  transition: width 0.2s;
}
.link-item p {
  position: relative;
  top: 0;
  transition: padding 0.2s, top 0.2s;
}
.link-item a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.link-item a:hover .link-item__image {
  top: 8px;
}
.link-item a:hover .link-item__title span:after {
  width: 100%;
}
.link-item a:hover p {
  top: -4px;
}
@media screen and (max-width: 1024px) {
  .link-item {
    font-size: 16px;
  }
  .link-item__title {
    font-size: 22px;
  }
}
@media screen and (max-width: 767px) {
  .link-item__title {
    margin-bottom: 5px;
  }
  .link-item__image {
    min-height: 0;
    margin-bottom: 15px;
  }
  .link-item p br {
    display: none;
  }
}
.is-with-wave-bottom {
  position: relative;
  margin-bottom: 35px;
  background: #f8f6f4;
}
.is-with-wave-bottom:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 35px;
  background-image: url(../images/svg/wave-bottom-decoration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.is-with-wave-top {
  position: relative;
  margin-top: 35px;
  background: #f8f6f4;
}
.is-with-wave-top:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  height: 35px;
  background-image: url(../images/svg/wave-top-decoration.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.is-with-illustration-top {
  position: relative;
  background: #f8f6f4;
  padding-top: 82px;
  margin-top: 189px;
}
.is-with-illustration-top:after {
  left: 0;
  bottom: 100%;
  height: 35px;
  background-image: url(../images/svg/wave-top-decoration.svg);
  background-size: cover;
}
.is-with-illustration-top:after,
.is-with-illustration-top:before {
  content: "";
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}
.is-with-illustration-top:before {
  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-70%);
  z-index: 10;
  width: 479px;
  height: 266px;
  background-image: url(../images/temp/illustration-right-way-solid.svg);
  background-size: 100%;
}
@media screen and (max-width: 1023px) {
  .is-with-illustration-top {
    padding-top: 100px;
    margin-top: 120px;
  }
  .is-with-illustration-top:before {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .is-with-illustration-top:before {
    width: 320px;
  }
}
.is-with-illustration-top-white {
  position: relative;
  padding-top: 130px;
  margin-top: 190px;
}
.is-with-illustration-top-white:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  transform: translateX(-50%) translateY(-70%);
  z-index: 10;
  width: 430px;
  height: 308px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50%;
}
.is-with-illustration-top-white.is-illustration-way:before {
  width: 480px;
  height: 245px;
  background-image: url(../images/illustration-right-way.svg);
  margin-left: 10px;
}
@media screen and (max-width: 1023px) {
  .is-with-illustration-top-white {
    padding-top: 100px;
    margin-top: 120px;
  }
  .is-with-illustration-top-white.is-illustration-way {
    padding-top: 70px;
  }
  .is-with-illustration-top-white.is-illustration-way:before {
    margin-left: 6px;
  }
  .is-with-illustration-top-white.is-illustration-way:before,
  .is-with-illustration-top-white:before {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .is-with-illustration-top-white.is-illustration-way:before,
  .is-with-illustration-top-white:before {
    width: 320px;
  }
}
.is-with-illustration-bottom {
  position: relative;
  background: #f8f6f4;
  padding-bottom: 240px;
  margin-bottom: 91px;
}
.is-with-illustration-bottom:after {
  left: 0;
  top: 100%;
  height: 35px;
  background-image: url(../images/svg/wave-bottom-decoration.svg);
  background-size: cover;
}
.is-with-illustration-bottom:after,
.is-with-illustration-bottom:before {
  content: "";
  position: absolute;
  right: 0;
  background-repeat: no-repeat;
  background-position: 50%;
}
.is-with-illustration-bottom:before {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) translateY(50%);
  z-index: 10;
  width: 430px;
  height: 308px;
  background-image: url(../images/temp/illustration-cta.svg);
  background-size: 100%;
}
@media screen and (max-width: 1023px) {
  .is-with-illustration-bottom {
    padding-bottom: 140px;
    margin-bottom: 80px;
  }
  .is-with-illustration-bottom:before {
    width: 400px;
  }
}
@media screen and (max-width: 767px) {
  .is-with-illustration-bottom:before {
    width: 320px;
  }
}
.cookie-banner {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #000;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  padding: 20px;
  max-width: 340px;
  transition: right 0.3s;
  z-index: 10;
}
.cookie-banner p {
  margin-bottom: 15px;
}
.cookie-banner p a {
  color: inherit;
  text-decoration: underline;
}
.cookie-banner p a:hover {
  text-decoration: none;
}
.cookie-banner.is-removed {
  right: -500px;
}
.main-preview {
  max-width: 930px;
  margin: auto;
}
.main-preview__nav ul {
  display: flex;
  justify-content: center;
}
.main-preview__nav a {
  display: inline-block;
  width: 135px;
  text-align: center;
  padding: 8px 0;
  border: 2px solid #1d1c1d;
  border-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  color: #1d1c1d;
  text-decoration: none;
}
.main-preview__nav a.is-active {
  color: #fff;
}
.main-preview__nav li:first-child a {
  border-right: 0;
  border-top-left-radius: 5px;
}
.main-preview__nav li:last-child a {
  border-left: 0;
  border-top-right-radius: 5px;
}
.main-preview__nav.is-active-manager li:first-child a {
  background: #1d1c1d;
  color: #fff;
}
.main-preview__nav.is-active-client a {
  border-color: #ed553b;
  color: #ed553b;
}
.main-preview__nav.is-active-client li:last-child a {
  background: #ed553b;
  color: #fff;
}
.main-preview__media {
  position: relative;
  z-index: 2;
}
.main-preview__media img {
  border-radius: 8px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.05);
}
.main-preview__tab {
  display: none;
  position: relative;
}
.main-preview__tab.is-active {
  display: block;
}
.main-preview__note {
  position: absolute;
  font-size: 14px;
  line-height: 18px;
  font-family: Comic Sans MS;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 180px;
}
.main-preview__note:after,
.main-preview__note:before {
  content: "";
  position: absolute;
}
.main-preview__note.is-right {
  width: 180px;
  padding-left: 30px;
  left: 100%;
  margin-left: 15px;
}
.main-preview__note.is-right:before {
  width: 8px;
  top: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #707070;
  border-left: 0;
}
.main-preview__note.is-right:after {
  left: 8px;
  top: 50%;
  margin-top: -1px;
  height: 2px;
  width: 8px;
  background: #707070;
}
.main-preview__note.is-bottom {
  top: 100%;
  padding-top: 25px;
  text-align: center;
  margin-top: 15px;
}
.main-preview__note.is-bottom:before {
  height: 8px;
  top: 0;
  left: 0;
  right: 0;
  border: 2px solid #707070;
  border-top: 0;
}
.main-preview__note.is-bottom:after {
  left: 50%;
  top: 8px;
  margin-left: -1px;
  width: 2px;
  height: 8px;
  background: #707070;
}
.main-preview__note.is-bottom span {
  display: block;
  margin: auto;
}
.main-preview__note.is-top {
  bottom: 100%;
  padding-bottom: 25px;
  text-align: center;
}
.main-preview__note.is-top:before {
  height: 8px;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid #707070;
  border-bottom: 0;
}
.main-preview__note.is-top:after {
  left: 50%;
  bottom: 8px;
  margin-left: -1px;
  width: 2px;
  height: 8px;
  background: #707070;
}
.main-preview__note.is-top span {
  display: block;
  margin: auto;
}
.main-preview__note.is-note-managers {
  top: 103px;
  height: 100px;
}
.main-preview__note.is-note-clients {
  top: 215px;
  height: 100px;
}
.main-preview__note.is-note-bill {
  top: 330px;
  height: 88px;
}
.main-preview__note.is-note-deliverables {
  top: 433px;
  height: 150px;
}
.main-preview__note.is-note-client-managers {
  top: 103px;
  height: 80px;
}
.main-preview__note.is-note-client-clients {
  top: 200px;
  height: 92px;
}
.main-preview__note.is-note-client-bill {
  top: 308px;
  height: 95px;
}
.main-preview__note.is-note-client-deliverables {
  top: 422px;
  height: 162px;
}
.main-preview__note.is-note-conversation {
  width: 575px;
  left: 100px;
}
.main-preview__note.is-note-conversation span {
  max-width: 420px;
}
.main-preview__note.is-note-happy {
  bottom: auto;
  top: 140px;
  right: 100%;
  margin-right: 20px;
}
.main-preview__note.is-note-happy img {
  position: absolute;
  top: 100%;
  width: 300px;
  max-width: 300px;
  left: -75px;
  margin-top: 15px;
}
@media screen and (max-width: 1280px) {
  .main-preview__note {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .main-preview__nav a {
    font-size: 13px;
    padding: 4px 0;
    width: 110px;
  }
}
.group + .group {
  margin-top: 60px;
}
@media screen and (max-width: 1024px) {
  .group + .group {
    margin-top: 35px;
  }
}
.loading {
  position: fixed;
  width: 100%;
  bottom: 50%;
  left: 0;
  text-align: center;
}
.loading .circular-progress,
.loading .icon-logo {
  margin: auto;
}
.loading .circular-progress {
  font-size: 40px;
}
.loading__logo {
  margin-bottom: 30px;
}
.loading__text {
  margin-top: 25px;
  font-size: 14px;
  color: #777;
}
